//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px)

  .jms-slideshow
    margin: 0px 0 20px -2%
    width: 104%

  .jms-wrapper
    min-height: 220px



// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px)


  