<a class="rss rss_text" href="http://social-stream.dit.upm.es/feed/" rel="bookmark" title="RSS Feed">
  RSS Feed
</a>

<div id="text-4" class="widget widget_text">
  <a class="twitter-timeline" href="https://twitter.com/SocialStreamGem" data-widget-id="332442755815055361">Social Stream's Twitter</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <div id="googlestats-3" class="widget widget_google_stats">
      <h3 class="widgettitle">
        Stats
      </h3><!-- Data gathered from last 365 days using Google Analyticator -->
      <br>
      <div style="margin-top:-22px;background:#F2F2F2;font-size:12px;color:#444;font-family:'OpenSans',Sans-Serif;">
        <table style="border: 2px solid #ddd;background:#F2F2F2;">
          <tbody>
            <tr>
              <td style="border-width:1px;border-color:#ddd;border-style:solid;padding:0px 5px 0px 5px;text-align:right;background:#fff;">
                <div style="min-width:66px;">
                  7,949
                </div>
              </td>
              <td style="width:auto!important;padding:0px 5px 0px 5px;text-align:center;font-size:11px;">
                Unique
                <br>
                Visitors
              </td>
            </tr>
          </tbody>
        </table>
        <div style="font-size:9px;color:#666666;margin-top:0px;font-family:Opensans;font-weight: ligther">
          Powered By 
          <a href="http://google.com/analytics/" title="Google Analytics" style="text-decoration:none;"><img src="http://social-stream.dit.upm.es/wp-content/plugins/google-analyticator/ga_logo.png" alt="Google Analytics" style="border:0px;position:relative;top:4px;">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
