<a class="rss rss_text" href="http://blog-social-stream.dit.upm.es/feed/" rel="bookmark" title="Blog RSS Feed">
  RSS Feed
</a>

<div id="text-4" class="widget widget_text">
  <a class="twitter-timeline" href="https://twitter.com/SocialStreamGem" data-widget-id="332442755815055361">Social Stream's Twitter</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
