<section id="comunity" class="row">
  <div class="websites">
    <div class="comunity">
      <h2>
        Google groups
        <img src="assets/logos/googlegroups-saturation.png" href="https://groups.google.com/forum/?fromgroups#!forum/social-stream" target="_blank" class="hidden-phone">
      </h2>
      <div class="content">
        <p>
          The main&nbsp;
          <a href="http://groups.google.com/group/social-stream" target="_blank">
            Social Stream group
          </a>
          &nbsp;is a great place to discuss issues and learn about how to get the most out of Social-Stream.
        </p>
        <form action="http://groups.google.com/group/social-stream/boxsubscribe">
          Email:&nbsp;
          <input type="text" name="email">&nbsp;<input class="btn btn-primary" type="submit" name="sub" value=" Subscribe to Social Stream group ">
        </form>
      </div>
      
    </div>
    <div class="comunity">
      <h2>
        StackOverflow
        <img src="assets/logos/stackoverflow-saturation.png" href="http://stackoverflow.com/questions/tagged/social-stream" target="_blank" class="hidden-phone">
      </h2>
      <div class="content">
        
        <p>
          <a href="http://stackoverflow.com/">
            StackOverflow
          </a> 
          is a awesome forum to get technical help in any fields. The 
          <a href="http://stackoverflow.com/questions/tagged/social-stream">
            social-stream tag in StackOverflow 
          </a>
          tracks questions about Social Stream.
        </p>
      </div>
      
    </div>
    <div class="comunity">
      <h2>
        GitHub
        <img src="assets/logos/github.png" href="https://github.com/ging/social_stream" target="_blank" class="hidden-phone">
      </h2>
      <div class="content">
        <p>
          Social Stream’s development takes place at 
          <a title="Social Stream's Github repository" href="https://github.com/ging/social_stream" target="_blank">
            Github
          </a>
          . There you will find the issues tracker, wiki pages and pull requests.
        </p>
      </div>
      
    </div>
  </div>
  <div class="sidebar-rss">
    <%= render partial: "sidebar_rss" %>
  </div>  
</section> 