<div id="start">
  <div class="start-menu bs-docs-sidebar affix">
    <ul class="nav nav-list bs-docs-sidenav affix-top">
      <li><a href="#rails"><i class="icon-chevron-right"></i> 1. Get Started with Rails</a></li>
      <li><a href="#components"><i class="icon-chevron-right"></i> 2. Social Stream components</a></li>
      <li><a href="#install"><i class="icon-chevron-right"></i> 3. Install Social Stream</a></li>
      <li><a href="#customize"><i class="icon-chevron-right"></i> 4. Customize your application</a></li>
      <li><a href="#more"><i class="icon-chevron-right"></i> 5. More</a></li>
    </ul>
    <a class="down-submenu">
      <i class="icon-chevron-down"></i>
    </a>
  </div>

  <div class="content">
    <section id="rails" class="row get-started-with-rails">
      <header>
        <h1>
          1
        </h1>
        <h2>
          Get Started with Rails
        </h2>
      </header>
        
      <p>Social Stream is an engine for <a href="http://rubyonrails.org/">Ruby on Rails</a>, the popular web development framework. You need to know Rails before developing with Social Stream. There is a nice guide at <a href="http://guides.rubyonrails.org/getting_started.html">Getting Started with Rails</a> that you should read first.</p>

      <p>Once you have created your Rails application, you can add the Social Stream engine. Social Stream is quite modular, you can use only the functionalities you need in your application. Before installing Social Stream, you have to decide which components you will need in your new social network.</p>
    </section>

    <section id="components" class="row components">
      <div class="components">
        <header>
          <h1>
            2
          </h1>
          <h2>
            Social Stream's components
          </h2>  
        </header>
      </div>

      <p>Social Stream is splitted into components to provide developers with the precise functionality you need for their social network website. Every component is packaged as a <a href="http://rubygems.org/">Ruby Gem</a> which is the standard packaging in Ruby. Ruby on Rails itself is also packaged as a gem.</p>

      <p>Current available components in Social Stream are:</p>
    
      <ul class="nav nav-pills" id="components-tab">
        <li class="active"><a href="#base" data-toggle="tab">Base</a></li>
        <li><a href="#documents" data-toggle="tab">Documents</a></li>
        <li><a href="#events" data-toggle="tab">Events</a></li>
        <li><a href="#linkser" data-toggle="tab">Linkser</a></li>
        <li><a href="#presence" data-toggle="tab">Presence</a></li>
        <li><a href="#ostatus" data-toggle="tab">OStatus</a></li>
        <li><a href="#oauth2" data-toggle="tab">OAuth2 Server</a></li>
      </ul>
 
      <div class="tab-content">
        <div class="tab-pane active" id="base"> <blockquote>The <code>social_stream-base</code> gem provides applications with the core social network functionality. It supports users and groups, profile pages, activity streams, private messages and notifications, text posts and comments. Everything you need to start your social network.</blockquote></div>
        <div class="tab-pane" id="documents"><blockquote>The <code>social_stream-documents</code> gem adds the core support for file uploads. Besides, it adds some nice features to special files, such as image thumbnails, audio and video with an HTML5 player.</blockquote></div>
        <div class="tab-pane" id="events"><blockquote><code>social_stream-events</code> provides your social network with supports for scheduled events with a nice full-screen calendar.</blockquote></div>
        <div class="tab-pane" id="linkser"><blockquote><code>social_stream-linkser</code> adds advanced management of links to other webpages. These are quite popular in leisure social networks where people share a lot of Youtube videos, for instance.</blockquote></div>
        <div class="tab-pane" id="presence"><blockquote>The <code>social_stream-presence</code> gem provides your social network with chat and videoconference support.</blockquote></div>
        <div class="tab-pane" id="ostatus"><blockquote><code>social_stream-ostatus</code> lets your social network website federate with other social networks using the popular <a href="http://www.w3.org/community/ostatus/">OStatus</a> protocol.</blockquote></div>
        <div class="tab-pane" id="oauth2"><blockquote>The <code>social_stream-oauth2_server</code> gem turns your site into an <a href="http://oauth.net/2/">OAuth2</a> provider, letting third party applications to access authentication and protected services from your social network.</blockquote></div>
      </div>
    </section>

    <section id="install" class="row install-social-stream">
      <header>
        <h1>
          3
        </h1>
        <h2>
          Install Social Stream
        </h2>
      </header>
      <p>After deciding which Social Stream's components you will use for your application, you can install Social Stream, just adding the gems to your application's <code>Gemfile</code></p>

      <div class="row">
        <div class="step">
          <div class="option">
            <img src="/assets/step-line-double-top.png">
          </div>
        </div>

        <div class="mid-case">
          <p>If you are using the full Social Stream suite, add <code>social_stream</code> to your <code>Gemfile</code></p>

          <pre>
gem 'social_stream'
          </pre>
        </div>
      

        <div class="mid-case">
          <p>On the other hand, if you are using the <code>social_stream-documents</code> and <code>social_stream-events</code> components only, add:</p>

             <pre>
gem 'social_stream-documents'
gem 'social_stream-events'
            </pre>
        </div>
      </div>
  


      <div class="row">
        <div class="step">
          <div class="option">
            <img src="/assets/step-line-double-bottom.png">
          </div>
        </div>
        <div class="option">
          <div class="line-l">
          </div>
          <div class="line-r">
          </div>
        </div>
        <div class="full-case">
          Next, use <a href="http://gembundler.com/">Bundler</a>, the gem dependency manager to install all other gems required by your choice:
          <pre>
bundle
          </pre>
        </div>
      </div>


      <div class="row">
        <div class="step">
          <div class="option">
            <img src="/assets/step-line-double-top.png">
          </div>
        </div>
        <div class="mid-case">
          <p>The next step is running the generators for the gems. If you are installing the full Social Stream's suite:</p>

          <pre>
rails generate social_stream:install
          </pre>
        </div>
      
        <div class="mid-case">
          <p>In the case you are installing certain components, you must run the generator per each one of them:</p>

          <pre>
  rails generate social_stream:documents:install
  rails generate social_stream:events:install
          </pre>
        </div>
      </div>


      <div class="row">
        <div class="step">
          <div class="option">
            <img src="/assets/step-line-double-bottom.png">
          </div>
        </div>
        <div class="mid-full">
          Social Stream is not compatible with default mass attributes protection shipped with Rails 3.2.3, but uses the <a href="https://rubygems.org/gems/strong_parameters">strong_parameters gem</a> that will be the default in Rails 4. Set this in your <code>config/application.rb</code> before running the migration command:

          <pre>
config.active_record.whitelist_attributes = false
          </pre>
        </div>
      </div>

      <div class="row">
        <div class="step">
          <div class="option">
            <img src="/assets/step-line.png">
          </div>
        </div>
        <div class="mid-full">
          Now migrate your database:

          <pre>
rake db:migrate
          </pre>
        </div>
      </div>


      <div class="row">
        <div class="step">
          <div class="option">
            <img src="/assets/step-line.png">
          </div>
        </div>
        <div class="mid-full">
          Since Social Stream depends on <a href="https://github.com/plataformatec/devise">Devise</a>, make sure you follow its setup instructions. Specifically, make sure you set the default URL options for your environments at <code>config/environments/*.rb</code> with something like:

          <pre>
config.action_mailer.default_url_options = { :host => 'localhost:3000' }
          </pre>
        </div>
      </div>
    </section>


    <section id="customize" class="row">
      <header>
        <h1>
          4
        </h1>
        <h2>
          Customize your application
        </h2>
      </header>

      Now you have your own application up and running! The next step is customizing your application. Now you will learn how to quickly change its appareance. All the examples are demonstrated in the <a href="https://github.com/ging/social_stream-started">social_stream-started application</a>. You can download it and follow all the examples.

      <h3>Quickly change the branding of your social network</h3>

      <h4 id="change-color">Change the color using Bootstrap's variables</h4>
      Social Stream is built in the top of <a href="http://twitter.github.io/bootstrap/">Bootstrap</a>, the popular and powerful framework front-end framework. You can use Bootstrap's variables to customize your social network! For example, you can easily change the color of your social network. Just add the following to the top of <code>app/assets/stylesheets/social_stream.css.sass</code>
      <pre>

      </pre>

      <h4 id="change-logo">Change the logo</h4>
      All the assets (images, javascripts, stylesheets) in your application have the highest priority over the ones in Social Stream. You can easily change the social network logo placing an image at <code>app/assets/images/header-logo-index.png</code>, which will be sent to the server before <a href="https://github.com/ging/social_stream/blob/master/base/app/assets/images/header-logo-index.png">Social Stream's header-logo-index.png</a>

      <h3>Change the views</h3>
      <em>Where are the views?</em> you will probably ask. Social Stream is <a href="http://guides.rubyonrails.org/engines.html#what-are-engines">Rails Engine</a>. Everything (images, javascripts, css, views, models, controllers, etc.) is packaged within the gem, in an obscure place in your computer. But do not desperate! You still have full control on them and can change them in two ways, with Deface or overwriting them.

        <h4>Defacing views</h4>

        Using <a href="https://github.com/spree/deface">Spree's Deface</a> to change the views is the recomended way to go. Why? Because you will benefit from bug fixes and new features in new versions of Social Stream. If you just overwrite the views, these changes won't be propagated to your final application.

        <h4>Overwriting views</h4>

        The other option is completely overwrite the view. This makes change when the view is significantly different from the one in Social Stream. To achieve this, just place a view with the same path in your application. As in the <a href="#change-logo">case of the assets explained above</a>, Rails will pick your application's view before Social Stream's

      <h3>Customize models</h3>
      - decorators
      - overrite?
    </section>

    <section id="more" class="row">
      <header>
        <h1>
            5
        </h1>
        <h2>
          More
        </h2>
      </header>
      Need more? Try this:

      <ul>
        <li><a href="https://github.com/ging/social_stream/wiki/How-to-add-new-activity-objects">Adding new activity objects to the social network</a></li>
        <li>Social Stream's <a href="https://github.com/ging/social_stream/wiki/Social-Stream-Base-database-schema">base database schema</a> and <a href="https://github.com/ging/social_stream/wiki/Social-Stream-database-schema">full database schema</a></li>
    </section>
  </div>
</div>
