
    <div id="start">
      <div class="start-menu bs-docs-sidebar affix">
        <ul class="nav nav-list bs-docs-sidenav affix-top">
          <li><a href="#install"><i class="icon-chevron-right"></i> 1. Install Social Stream</a></li>
          <li><a href="#components"><i class="icon-chevron-right"></i> 2. Social Stream components</a></li>
          <li><a href="#customize"><i class="icon-chevron-right"></i> 3. Customize your application</a></li>
          <li><a href="#more"><i class="icon-chevron-right"></i> 4. More</a></li>
        </ul>
      </div>
      <div class="content">    
        <section id="install" class="row install-social-stream">
          <header>
            <h1>
              1
            </h1>
            <h2>
              Install Social Stream
            </h2>
          </header>
            
          Social Stream is an engine for Ruby on Rails packaged as a gem. This means you need
          <pre>
            rails new app
          </pre>
        </section>

        <section id="components" class="row components">
          <div class="components">
            <header>
              <h1>
                2
              </h1>
              <h2>
                Social Stream's components
              </h2>  
            </header>
          </div>
        
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#base">Base</a></li>
            <li><a href="#documents">Documents</a></li>
            <li><a href="#events">Events</a></li>
            <li><a href="#linkser">Linkser</a></li>
            <li><a href="#presence">Presence</a></li>
            <li><a href="#ostatus">Ostatus</a></li>
            <li><a href="#oauth2">Oauth2</a></li>
          </ul>
     
          <div class="tab-content">
            <div class="tab-pane active" id="base">core social network functionality with users and groups, profile pages, activity streams, private messages and notifications, text posts and comments.</div>
            <div class="tab-pane" id="documents">adds the core support for file uploads, images, audio and video with an HTML5 player.</div>
            <div class="tab-pane" id="events">scheduled events with a calendar.</div>
            <div class="tab-pane" id="linkser">advanced management of links to other webpages.</div>
            <div class="tab-pane" id="presence">chat and videoconference support.</div>
            <div class="tab-pane" id="ostatus">support for social network federation</div>
            <div class="tab-pane" id="oauth2">...</div>
          </div>
        </section>


        <section id="customize" class="row">
          <header>
            <h1>
              3
            </h1>
            <h2>
              Customize your application
            </h2>
          </header>

          <h3>Quickly change the color and logo</h3>
          -> bootstrap
          -> change css

          <h3>Views and frontpage</h3>
          where are the views?
          -deface
          -overwrite

          <h3>Customize models</h3>
          - decorators
          - overrite?
        </section>

        <section id="more" class="row">
          <header>
            <h1>
                4
            </h1>
            <h2>
              More
            </h2>
          </header>
          - new activity object
          - new actor
          - routes
        </section>
      </div>



 
<script>
  $(function () {
    $('#myTab a:last').tab('show');
  })

</script>

